/* Div Styling */
.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
    background-color: #122932;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 10px;
    height: 10vh;
}


/* Element Styling */
#title {
    text-align: center;
    color: #478978;
    /* font-size: xx-large; */
}

